*::before,
*::after,
* {
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--body-background-color);
}