/* CSS Variables */
:root {
    --body-background-color: rgba(18, 18, 18, 0.885);
    --roboto-font-family: "Roboto", sans-serif;
    --section-background-color: whitesmoke;
    --section-html-color: #e34f26;
    --section-css-color: #1572b6;
    --section-js-color: #393;
    --section-react-color: #61dafb;
    --section-node-color: #393;
    --section-mongodb-color: #47a248;
    --section-links-color: #333;
    --sidebar-active-link-background-color: rgb(32, 34, 34);
}